<div class="topics">
   <h2 style="color: rgb(255, 255, 255);"><b>Suggestions</b></h2>
    <br>
  <ul class="topics__list">
    <h3>Popular Suggestions</h3>
    <br>
    <li><a href="{%url 'suggestionsView' name='marvel'%}" style="color: rgb(93, 96, 97);">Marvel Suggestions</a></li>
    <li><a href="{%url 'suggestionsView' name='batman'%}" style="color: rgb(93, 96, 97);">Batman Suggestions</a></li>
    <li><a href="{%url 'suggestionsView' name='spy' %}" style="color: rgb(93, 96, 97);">Spy Movies Suggestions</a></li>
    <li><a href="{%url 'suggestionsView' name='superman'%}" style="color: rgb(93, 96, 97);">Superman Suggestions</a></li>
    
    {% if user.is_authenticated %}
    <h3>Personal Suggestions</h3>
    <br>
    {% if user.user_profile.user.user_profile.movie_interest_1 or user.user_profile.user.user_profile.movie_interest_2 or user.user_profile.user.user_profile.movie_interest_3 or user.user_profile.user.user_profile.movie_interest_4  %}
    {% comment %} , 'movie_interest_1', 'movie_interest_2', 'movie_interest_3', 'movie_interest_4' {% endcomment %}
    {% if user.user_profile.movie_interest_1 %}
    <li><a href="{%url 'suggestionsView' name=user.user_profile.user.user_profile.movie_interest_1%}" style="color: rgb(93, 96, 97);">{{user.user_profile.movie_interest_1}} Suggestions</a></li>
    {% endif %}
    {% if user.user_profile.movie_interest_2 %}
    <li><a href="{%url 'suggestionsView' name=user.user_profile.user.user_profile.movie_interest_2%}" style="color: rgb(93, 96, 97);">{{user.user_profile.movie_interest_2}} Suggestions</a></li>
    {% endif %}
    {% if user.user_profile.movie_interest_3 %}
    <li><a href="{%url 'suggestionsView' name=user.user_profile.user.user_profile.movie_interest_3%}" style="color: rgb(93, 96, 97);">{{user.user_profile.movie_interest_3}} Suggestions</a></li>
    {% endif %}
    {% if user.user_profile.movie_interest_4 %}
    <li><a href="{%url 'suggestionsView' name=user.user_profile.user.user_profile.movie_interest_4%}" style="color: rgb(93, 96, 97);">{{user.user_profile.movie_interest_4}} Suggestions</a></li>
    {% endif %}
    {% else %}
    <p>Added Movie Suggestions in User Profiles to get Personal suggestions</p>
    <a href="{%url 'edit-profile'%}" class="btn btn-outline-info">fill Profile</a>
    {% endif %}
    {%endif%}

  </ul>

</div>